build/
lib/
androidx-package-list.py
api-28-pkg-list.txt
app.apk
app.apk.idsig
export-libs.pl
get-packages.pl
ids.txt
includes.pl
jni-compile.py
keystore.jks
kotlin-pre.pl
link.pl
logs.pl
make.pl
run.pl
sdk-package-list.html
sdk-package-list.py

